.container-fluid {
    background-color: #f4f4f4;
    padding: 60px 30px;
  }
  
  h1, h2 {
    color: #183d5c;
  }
  
  p {
    color: #555;
    line-height: 1.7;
  }
  
  ul li {
    color: #555;
    margin-bottom: 15px;
  }
  