.student-login-page {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    position: relative;
    transition: all 2s ease; /* Yavaş animasyon */
}

.student-login-left, .student-login-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease;
}

.student-login-left {
    background-color: #7fe8f0;
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-login-right {
    background-color: #fff;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-login-form{
    width: 50%;
}

.student-login-page.expanded .student-login-left {
    flex: 4.5; /* Sayfa yüklendiğinde genişleme */
}

.student-login-page.expanded .student-login-right {
    flex: 5.5; 
}

.student-login-page.registering {
    flex-direction: row-reverse;
}

.student-login-logo img {
    max-width: 80%; 
    height: auto;
}

.student-login-container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-login-title {
    margin-bottom: 20px;
    color: #1bc4d3;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.student-form-group {
    margin-bottom: 15px;
    width: 100%;
}

.student-form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.student-form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.student-form-input:focus {
    border-color: #1bc4d3;
    outline: none;
    box-shadow: 0 0 5px rgba(27, 196, 211, 0.5);
}

.student-login-button,
.student-register-button {
    width: 100%;
    padding: 12px;
    background-color: #19c9da;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.student-login-button:hover,
.student-register-button:hover {
    background-color: #20d5e6;
    transform: translateY(-2px);
}
