.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.sidebar-profile-pic {
  width: 120px;  /* İstediğiniz genişliği ayarlayın */
  height: 120px; /* İstediğiniz yüksekliği ayarlayın */
  border-radius: 50%; /* Yuvarlak bir görünüm için */
  border: 2px solid white; /* Beyaz çerçeve */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Üstten ve alttan boşluk yok */
}

.sidebar li {
  padding: 15px;
  margin: 0; /* Boşluk kaldırıldı */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Kenarlık rengi ve kalınlığı */
  border-left: none; /* Sol kenarlık kaldırıldı */
  border-right: 1px solid rgba(255, 255, 255, 0.2); /* Sağ kenarlık eklendi */
  transition: background-color 0.3s ease; /* Geçiş efekti için */
}

.sidebar li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Son öğe alt kenarlığı */
}

.sidebar li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar li:hover {
  background-color: #495057; /* Üzerine gelindiğinde arka plan rengi */
}

/* İlk öğenin üst kenarlığını gizlemek için */
.sidebar li:first-child {
  border-top: none; /* En üstteki öğenin üst kenarlığı yok */
}
